/* app/assets/tailwind/application.css */
@import "tailwindcss";

/* Light mode tokens (default) */
    :root {
        --color-text: #171707;
        --color-background: #fcfcf8;
        --color-primary: #c2b93d;
        --color-secondary: #97a7dd;
        --color-accent: #b370d2;
    }
/* Dark mode tokens */
    :root.dark{
        --color-text: #f8f8e8;
        --color-background: #070703;
        --color-primary: #c2b93d;
        --color-secondary: #223268;
        --color-accent: #702d8f;
    }

/* Button style default */

    .btn_nav {
        @apply  m-2
                w-20
                h-10 
                flex
                items-center
                justify-center
                rounded-lg 
                font-semibold
                bg-(--color-accent) 
                hover:bg-(--color-primary)
    }
        .btn_side {
        @apply  bg-(--color-secondary)
                hover:bg-(--color-primary)
                font-semibold
                py-2
                px-4
    }