
<div id="<%= dom_id(user) %>">
<div>
  <%= link_to user.name,
              profile_path(user),
              class: "
                block
                w-fit
                rounded-full
                bg-(--color-accent)/50
                hover:bg-(--color-primary)
                font-semibold
                m-1
                p-2",
              data: { turbo_frame: "_top"} %>
              </div>
</div>
