<% if user.friends.any?%>
<div>
        <% user.friends.each do |friend| %>
        <ul>
            <li>
                <% if friend.name != user.name %>
                    <%= link_to friend.name, profiles_path(friend), data: { turbo: false } %>
            </li>
            <% end %>
        <% end %>
        </ul>
    <% end %>
</div>