<% return unless post && comment %>
<div class="m-6 mr-2 ml-10 p-8 bg-(--color-background) rounded-md shadow-xl flex">
 <div class="p-2">

  <%= image_tag current_user.avatar_thumbnail || "avatar.svg",
              class: "w-12 h-12 rounded-full shrink-0" %>



  </div>


<%= form_with(model: [ post, comment ], class: "contents") do |form| %>

  <div class="w-full"
       data-controller="charlimit"
       data-charlimit-number-value="400">
    <%= form.text_area :content, 
                        maxlength: 400, 
                        placeholder: "add comment", 
                        rows: 4,
                        data: {
                            action: "input->charlimit#update",
                            charlimit_target: "input"
                        },
                        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-(--color-primary)" %>
      <div class="text-sm text-(--color-text)/50">
      <span data-charlimit-target="output"></span> characters remaining
    </div>

  <div class="flex justify-end">
    <%= form.submit class: "m-1
                            w-37
                            h-9
                            rounded-full
                            font-semibold
                            text-s
                            bg-(--color-accent) 
                            hover:bg-(--color-primary)
                            cursor-pointer" %>
  </div>
  </div>
  </div>
<% end %>
