<% return unless post && comment %>
<%= form_with(model: [ post, comment ], class: "contents") do |form| %>

  <div class="mr-2 ml-10 p-8 bg-(--color-background) rounded-md shadow-xl"
       data-controller="charlimit"
       data-charlimit-number-value="400">
    <%= form.text_area :content, 
                        maxlength: 400, 
                        placeholder: "add comment", 
                        rows: 4,
                        data: {
                            action: "input->charlimit#update",
                            charlimit_target: "input"
                        },
                        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-(--color-primary)" %>
      <div class="text-sm text-(--color-text)/50">
      <span data-charlimit-target="output"></span> characters remaining
    </div>

  <div class="flex justify-end">
    <%= form.submit class: "m-1
                            w-28
                            h-9
                            rounded-lg 
                            font-semibold
                            text-xs
                            bg-(--color-accent) 
                            hover:bg-(--color-primary)
                            cursor-pointer" %>
  </div>
  </div>
<% end %>
