<h1>Welcome, <%= @user.name %>!</h1>

<p>
  Thanks for signing up for <%= link_to 'OdinBook!', 'https://odinbook-yvnb.onrender.com/', target: "_blank" %>.  Feel free to log in, add friends, post, comment and like stuff!
</p>




<p>
  I also invite you to check out <%= link_to 'my GitHub projects', 'https://github.com/megpeer', target: "_blank" %>. 
  Your time and interest are greatly appreciated.
</p>

<p>
  Many thanks,
</p>
<p>
  -Meg
</p>