<div class="flex-col">
    <div>
    <h1 class="font-bold text-4xl">ODINBOOK</h1>
    </div>
    <div>
        <%= render "posts/form", post: Post.new %>
    </div>
    <div>
        <%= render "posts/all_posts" %>
    </div>


<%#= render "home/debug"%>
</div>