
<div class="flex flex-col space-y-6">
  <h1 class="font-bold text-4xl">Your Feed</h1>

  <turbo-frame id="posts_page_1">
    <%= render "posts/page",
                posts: @posts,
                pagy: @pagy,
                path: ->(opts) {feed_path(opts) } %>
  </turbo-frame>
</div>
