<%# POST view, with comments %>

<div id="<%= dom_id(@post, :container) %>" class="flex flex-col pl-4 sm:w-auto m-4">
    <div>
        <%= render "posts/post", post: @post %>
    </div>

<%# comments %>
            <div>
                <% @post.comments.each do |comment| %>
                <div>
                <%= render "comments/comment", comment: comment%>
                </div>
                <% end %>
            

<%# comment form %>
            <div>
            <%= render "comments/comment_form", post: @post, comment: Comment.new %>
            </div>
            </div>
    </div>
   
</div>

