<% if user.friends.any?%>
<div>
        <% user.friends.each do |friend| %>
        <ul>
            <li>
                <% if friend.email != user.email %>
                    <%= link_to friend.email, profile_path(friend), data: { turbo: false } %>
            </li>
            <% end %>
        <% end %>
        </ul>
    <% end %>
</div>