<% if @friends.any?%>
<br>
<div><h3>friends list:</h3></div>
<br>
<div>
    <% @friends.each do |u| %>
    <ul>
        <li>
        <% if u.follower.email != current_user.email %>
            <%= link_to "#{u.follower.email}", profile_path(u.follower) %>
        <% elsif u.follower.email == current_user.email%>
            <%= link_to "#{u.followee.email}", profile_path(u.followee) %>
        </li>
    </ul>
        <% end %>
    <% end %>
</div>
</div>
<% end %>