<div>
<%= turbo_frame_tag(dom_id(@user)) do %>
    <% if following?(user) %>
        <%= button_to "unfollow", profile_unfollow_path(id: user.id), method: :delete %>
    <% else %>
        <%= button_to "follow", profile_follow_path(id: user.id), method: :post %>
    <% end %>
<% end %>
</div>