
<div id="<%= dom_id(user) %>">
  <%= link_to user.name,
              profile_path(user),
              class: "text-blue-600 underline hover:text-blue-700",
              data: { turbo_frame: "_top"} %>
</div>
