<% if user.pending.any? %>
<div>
    <div><h3>friend requests:</h3></div>
        <ul>
        <% user.pending.each do |pending_friend| %>
            <li>
                <%= pending_friend.email %> 
                <%= button_to "accept", 
                profile_accept_userpage_path(id: pending_friend.id), 
                method: :patch %>
                <%= button_to "delete", 
                profile_delete_userpage_path(id: pending_friend.id), 
                method: :delete %>
            </li>
        <% end %>
        </ul>
    <% end %>
</div>
